<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LeafletTest</title>
    <link rel="stylesheet" href="./js/leaflet.css" />
    <link rel="stylesheet" href="./map.css" />
</head>
<body>
    <h3>不快度指数マップ</h3>
    <div id="mapid"></div>
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./js/leaflet.js"></script>
    <script type="text/javascript" src="./js/leaflet-svgicon/svg-icon.js"></script>
    <script type="text/javascript" src="./icon_user.js"></script>
    <script type="text/javascript">

        //アイコン各種設定データ
        let COLOR_RANGE_MIN  = [ 0, 55, 60, 65, 70, 75, 80, 85];
        let COLOR_RANGE_MAX  = [55, 60, 65, 70, 75, 80, 85, 100];
        let COLOR_RANGE_LIST = ["#0d688d", "#00b0ec", "#a0a0a0", "#b8ec5e", "#2fc12f", "#fff14f", "#ffa400", "#fb2531"];
        let TEXT_RANGE_LIST = ["-54", "55-59", "60-64", "65-69", "70-74", "75-79", "80-84", "85-"];
        let DEF_ICON_COLOR = "#000000";
        let DEF_TEXT_COLOR = "#FFFFFF";
        let ICON_OPTION = {
            iconSize:[60,60],iconAnchor:[25,35],shadowSize:[0,0],shadowAnchor:[0,0],popupAnchor:[1,-20],
            fillColor:DEF_ICON_COLOR, txtVal:0,txtColor:DEF_TEXT_COLOR
        };
        //アイコンマーカーデータ
        var geojsonFeatures = [ 
            {"type": "Feature", "properties": { "name": "センサー1", "sensor_id":0, "value":40 },
             "geometry": { "type": "Point", "coordinates": [139.798980, 35.689260] } },
            {"type": "Feature", "properties": { "name": "センサー2", "sensor_id":1, "value":55 },
             "geometry": { "type": "Point", "coordinates": [139.700504, 35.689869] } },
            {"type": "Feature", "properties": { "name": "センサー3", "sensor_id":2, "value":80 },
             "geometry": { "type": "Point", "coordinates": [139.608504, 35.689969] } }
        ];

        //地理院タイル
        var mymap = L.map('mapid').setView([35.705488, 139.602460], 10);
        L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://maps.gsi.go.jp/development/ichiran.html">国土地理院</a> contributors',
            maxZoom: 18, minZoom : 5
        }).addTo(mymap);
        

        //マーカー配置
        var ICONS = L.geoJson(geojsonFeatures, {
            onEachFeature : function(feature, layer){
                var ttip = L.tooltip({direction:"top", offset:L.point({x:0,y:-30})}).setContent(feature.properties.name);
                layer.bindTooltip(ttip);
            },
            pointToLayer :  function(feature, latlng){
                var icon = new L.DivIcon.SVGIcon.UserIcon(ICON_OPTION);
                var marker = new L.marker(latlng, { icon:icon });
                return marker;
            }
        }).addTo(mymap);

        //凡例表示
        var legend = L.control({position:'bottomleft'});
        legend.onAdd = function(map){
            var div = L.DomUtil.create('div', 'info legend');
            div.innerHTML += "指数<br>";
            for(var i = 0; i < COLOR_RANGE_MAX.length; i++){
                div.innerHTML += "<i style='background:" + COLOR_RANGE_LIST[i] + "'></i>" + TEXT_RANGE_LIST[i] + "<br>";
            }
            return div;
        };
        legend.addTo(mymap);
        

        //senserデータ取得
        getsenserdata();

        //senserデータ取得
		function getsenserdata(){

            for(var i = 0; i < geojsonFeatures.length; i++){
                var sid = geojsonFeatures[i].properties.sensor_id;

                //データ取得
                
                $.ajax({
                    type: "GET",
                    url: "http://nodejs-mongo-persistent-nodejs-mongodb-example.193b.starter-ca-central-1.openshiftapps.com/get_discomfort_index_kind1",
                    data : { "id" : sid },
                    dataType: "json",
                    async : false,
                    //xhrFields: { withCredentials: true },
                    //headers: { 'Access-Control-Allow-Credentials': true },
                    success : function(retdata){
                        var setdata = -1;
                        if(retdata == undefined || retdata == null){}
                        else{ 
                            //setdata = Math.round(Number(retdata.discomfort_index));
                            setdata = Number(retdata.discomfort_index);
                        }
                        //配色設定
                        setValAndColorMarker(ICONS, setdata, sid);
                    },
                    complete : function(retdata){
                        console.log(retdata);
                    },
                    error: function(xhr, textStatus, error) {
                        console.log(textStatus);
                    }

                });
                

                //配色設定
                //setValAndColorMarker(ICONS, geojsonFeatures[i].properties.value, sid);
                
            }
        }

        //配色設定
        function setValAndColorMarker(icons, set_val, set_sid){
            for(var ml in icons._layers){
                var layer = icons._layers[ml];
                var list = layer.feature;
                if(list){
                    if(list.properties.sensor_id == set_sid){
                        list.properties.value = set_val;
                    }
                    else{ continue; }

                    //アイコン配色
                    var color_icon = DEF_ICON_COLOR;
                    if(set_val == undefined || set_val == null || set_val < 0){ }
                    else{
                        for(var i = 0; i < COLOR_RANGE_MAX.length; i++){
                            var min = COLOR_RANGE_MIN[i];
                            var max = COLOR_RANGE_MAX[i];
                            if(min <= set_val && set_val < max){
                                color_icon = COLOR_RANGE_LIST[i];
                            }

                        }
                    }

                    //アイコンテキスト配色
                    var txtcolor = (set_val < 55) ? DEF_TEXT_COLOR : DEF_ICON_COLOR;

                    var opt_tmp = $.extend(true, {}, ICON_OPTION);
                    opt_tmp.fillColor = color_icon;
                    opt_tmp.textColor = txtcolor;
                    opt_tmp.txtVal = set_val;

                    var newicon = new L.DivIcon.SVGIcon.UserIcon(opt_tmp);
                    layer.setIcon(newicon);

                }
            }
        }



    </script>
</body>
</html>
